[Unit]
Description=Jonard-Site : Gunicorn Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/html/dj-jonard-site/dj_project
ExecStart=/var/www/html/dj-jonard-site/env/bin/gunicorn --workers 3 --bind 0.0.0.0:8088 --env DJANGO_SETTINGS_MODULE=config.settings.production config.wsgi
Restart=on-failure

[Install]
WantedBy=multi-user.target

